<p style='color: darkorange; font-size: 2.5em; font-weight: bold; text-align: left;'>
    Verarbeiten gro√üer Datenbest√§nde mit DuckDB ü¶Ü</p>

### **Installation von DuckDB und Verbindung zu DuckDB (hier in-Memory-Verarbeitung)**

In [ ]:
%%capture
%pip install duckdb

In [1]:
import duckdb

# Verbindung zur in-memory DuckDB-Datenbank (':memory:') herstellen; Voraussetzung: DuckDB muss installiert sein, ':memory:' muss als Vorgabe so gesetzt sein
conn = duckdb.connect(':memory:')

### **Inspektion der Daten via SQL**

In [3]:
# Inspektion der Daten und Test der Verbindung zur Datenquelle, die √ºber die untere URL zu erreichen ist
result = conn.execute("""
DESCRIBE SELECT * FROM 'https://media.githubusercontent.com/media/swrobuts/Flights/main/airlines.csv';
""").fetchall()

# Ausgabe des Ergebnisses
for row in result:
    print(row)

('IATA_CODE', 'VARCHAR', 'YES', None, None, None)
('AIRLINE', 'VARCHAR', 'YES', None, None, None)

### **Aufbau und Bef√ºllen der Tabelle `airports`**

In [4]:
import pandas as pd

# Verbindung zur in-memory DuckDB-Datenbank herstellen; Voraussetzung: DuckDB muss installiert sein
conn = duckdb.connect(':memory:')

# Sequenz und Tabelle "airports" erstellen
conn.execute("""
CREATE SEQUENCE IF NOT EXISTS airport_id
INCREMENT BY 1 MINVALUE 0;
""")

conn.execute("""
CREATE TABLE IF NOT EXISTS airports (
    airport_id INTEGER PRIMARY KEY DEFAULT(nextval('airport_id')),
    iata_code VARCHAR(5),
    airport VARCHAR(255),
    city VARCHAR(255),
    state VARCHAR(255),
    country VARCHAR(255),
    latitude DOUBLE,
    longitude DOUBLE,
    CONSTRAINT airport_id UNIQUE (airport_id)
);
""")

# Bef√ºllen der angelegten Tabelle bzw. Relation "airports" aus der csv-Datei
conn.execute("""
INSERT INTO airports("iata_code", "airport","city","state","country","latitude","longitude")
SELECT DISTINCT "IATA_CODE", "AIRPORT", "CITY", "STATE","COUNTRY","LATITUDE","LONGITUDE"
FROM 'https://media.githubusercontent.com/media/swrobuts/Flights/main/airports.csv'
ORDER BY "IATA_CODE" ASC;
""")

# √úberf√ºhrt die Daten aus der Relation "airports" in ein pandas DataFrame
airports_df = conn.execute("SELECT * FROM airports;").df()

# Einige Daten aus der Tabelle "airports" abfragen, um zu testen
airports_df.head()

,airport_id,iata_code,airport,city,state,country,latitude,longitude
0,0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

### **Aufbau und Bef√ºllen der Tabelle `airlines`**

In [5]:
# Anlegen und Bef√ºllen der Tabelle "airlines"
conn.execute("""
CREATE SEQUENCE IF NOT EXISTS "airline_id"
INCREMENT BY 1 MINVALUE 100;

CREATE TABLE IF NOT EXISTS airlines
(
    "airline_id" INTEGER PRIMARY KEY DEFAULT(nextval('airline_id')),
    "iata_code" VARCHAR(10),
    "airline" VARCHAR(255),
    CONSTRAINT "airline_id" UNIQUE ("airline_id")
    );

--- Bef√ºllen der angelegten Tabelle "airlines"
INSERT INTO airlines("iata_code","airline")
SELECT DISTINCT "IATA_CODE", "AIRLINE"
FROM 'https://media.githubusercontent.com/media/swrobuts/Flights/main/airlines.csv'
ORDER BY "IATA_CODE" ASC;
""")

# √úberf√ºhrt die Daten aus der Relation "airlines" in ein pandas DataFrame
airlines_df = conn.execute("SELECT * FROM airlines;").df()

# Einige Daten aus der Tabelle "airlines" abfragen, um zu testen
airlines_df.head()

   airline_id iata_code                      airline
0         100        AA       American Airlines Inc.
1         101        AS         Alaska Airlines Inc.
2         102        B6              JetBlue Airways
3         103        DL         Delta Air Lines Inc.
4         104        EV  Atlantic Southeast Airlines

### **Anlegen und Bef√ºllen der Tabelle `cancellation_reasons`**

In [6]:
## Anlegen der Tabelle "cancellation_reasons"
conn.execute("""
CREATE TABLE IF NOT EXISTS cancellation_reasons
(
    "cr_id" INTEGER PRIMARY KEY,
    "reason" VARCHAR(255),
    "shortcut" VARCHAR(5),
);

-- Manuelles Bef√ºllen der Tabelle "cancellations_reasons", die IDs f√ºr den Primary Key sind willk√ºrlich, sie m√ºssen aber unterschiedlich sein
INSERT INTO cancellation_reasons
VALUES
(90, 'Airline/ Carrier', 'A'),
(80,'Weather', 'B'),
(70,'National Air System', 'C'),
(60,'Security', 'D'),
(0, 'Keine Stornierung', 'No');
""")

# √úberf√ºhrt die Daten aus der angelegten Relation in ein pandas DataFrame
cancellation_reasons_df = conn.execute("SELECT * FROM cancellation_reasons;").df()

# Testabfrage
cancellation_reasons_df.head()

   cr_id               reason shortcut
0     90     Airline/ Carrier        A
1     80              Weather        B
2     70  National Air System        C
3     60             Security        D
4      0    Keine Stornierung       No

### **Anlegen und Bef√ºllen der Tabelle `flights`**

In [7]:
# Anlegen der Tabelle "flights"
conn.execute("""
CREATE SEQUENCE IF NOT EXISTS "flight_id"
INCREMENT BY 1 MINVALUE 0;

CREATE TABLE IF NOT EXISTS flights 
(   "flight_id" INTEGER PRIMARY KEY DEFAULT(nextval('flight_id')),
    "year" INTEGER,
    "month" INTEGER,
    "day" INTEGER,
    "day_of_week" INTEGER,
    "airline" VARCHAR(10),
    "flight_number" VARCHAR(255),
    "tail_number" VARCHAR(255),
    "origin_airport" VARCHAR(10),
    "destination_airport" VARCHAR(10),
    "scheduled_departure" VARCHAR(255),
    "departure_time" VARCHAR(255),
    "departure_delay" INTEGER,
    "taxi_out" INTEGER,
    "wheels_off" VARCHAR(255),
    "scheduled_time" INTEGER,
    "elapsed_time" INTEGER,
    "air_time" INTEGER,
    "distance" INTEGER,
    "wheels_on" VARCHAR(255),
    "taxi_in" INTEGER,
    "scheduled_arrival" VARCHAR(255),
    "arrival_time" VARCHAR(255),
    "arrival_delay" INTEGER,
    "diverted" INTEGER,
    "cancelled" INTEGER,
    "cancellation_reason" VARCHAR(255),
    "air_system_delay" INTEGER,
    "security_delay" INTEGER,
    "airline_delay" INTEGER,
    "late_aircraft_delay" INTEGER,
    "weather_delay" INTEGER,
    CONSTRAINT "flight_id" UNIQUE ("flight_id")
);
""")

# Bef√ºllen der Tabelle aus "flights.csv". Die Daten werden nicht √ºber http aus Performance-Gr√ºnden, sondern √ºber eine
# lokale csv-Datei geladen. Sie m√ºssen den Pfad entsprechend dem Ihrigen anpassen
conn.execute("""
INSERT INTO flights
(
"year",
"month",
"day",
"day_of_week",
"airline",
"flight_number",
"tail_number",
"origin_airport",
"destination_airport",
"scheduled_departure",
"departure_time",
"departure_delay",
"taxi_out",
"wheels_off",
"scheduled_time",
"elapsed_time",
"air_time",
"distance",
"wheels_on",
"taxi_in",
"scheduled_arrival",
"arrival_time",
"arrival_delay",
"diverted",
"cancelled",
"cancellation_reason",
"air_system_delay",
"security_delay",
"airline_delay",
"late_aircraft_delay",
"weather_delay"
)
SELECT 
"YEAR",
"MONTH",
"DAY",
"DAY_OF_WEEK",
"AIRLINE",
"FLIGHT_NUMBER",
"TAIL_NUMBER",
"ORIGIN_AIRPORT",
"DESTINATION_AIRPORT",
"SCHEDULED_DEPARTURE",
"DEPARTURE_TIME",
"DEPARTURE_DELAY",
"TAXI_OUT",
"WHEELS_OFF",
"SCHEDULED_TIME",
"ELAPSED_TIME",
"AIR_TIME",
"DISTANCE",
"WHEELS_ON",
"TAXI_IN",
"SCHEDULED_ARRIVAL",
"ARRIVAL_TIME",
"ARRIVAL_DELAY",
"DIVERTED",
"CANCELLED",
"CANCELLATION_REASON",
"AIR_SYSTEM_DELAY",
"SECURITY_DELAY",
"AIRLINE_DELAY",
"LATE_AIRCRAFT_DELAY",
"WEATHER_DELAY"
FROM read_csv_auto("C:/Users/rober/OneDrive/Vorlesungen/Datenbasierte Fallstudien/Visualisierungen/Flights/Flights/flights.csv");
""")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

### **Anlegen und Bef√ºllen der Tabelle `time`**

In [ ]:
# "date"" als eigene Spalte in "flights" anlegen und Bef√ºllen der Spalte "date" mit einem qualifizierten Datum in Notation "YYYY-MM-DD"
conn.execute("""
ALTER TABLE flights
ADD COLUMN IF NOT EXISTS "date" DATE;
             
UPDATE flights
SET date = MAKE_DATE("year", "month", "day");             
""")

# Anlegen der Tabelle "time" als eigenst√§ndige Zeit-Dimension
conn.execute("""
    CREATE TABLE IF NOT EXISTS "time" (
    "date" DATE,
    "year" INTEGER,
    "month" INTEGER,
    "quarter" INTEGER,
    "week" INTEGER,
    "weekday" INTEGER,
    "weekday_name" VARCHAR(255),
    "quarter_name" VARCHAR(255),
    "month_name" VARCHAR(255),
    "week_name" VARCHAR(255)
);

-- Bef√ºllen der Tabelle aus der Spalte date
INSERT INTO time ("date", "year", "month", "quarter", "week", "weekday", "weekday_name", "quarter_name", "month_name", "week_name")
SELECT 
    DISTINCT "date",
    EXTRACT(YEAR FROM "date") AS "year",
    EXTRACT(MONTH FROM "date") AS "month",
    EXTRACT(QUARTER FROM "date") AS "quarter",
    EXTRACT(WEEK FROM "date") AS "week",
    EXTRACT(DOW FROM "date") AS "weekday",
    -- Berechne den abgek√ºrzten Wochentagnamen
    CASE 
        WHEN EXTRACT(DOW FROM "date") = 0 THEN 'Sun'
        WHEN EXTRACT(DOW FROM "date") = 1 THEN 'Mon'
        WHEN EXTRACT(DOW FROM "date") = 2 THEN 'Tue'
        WHEN EXTRACT(DOW FROM "date") = 3 THEN 'Wed'
        WHEN EXTRACT(DOW FROM "date") = 4 THEN 'Thu'
        WHEN EXTRACT(DOW FROM "date") = 5 THEN 'Fri'
        WHEN EXTRACT(DOW FROM "date") = 6 THEN 'Sat'
    END AS weekday_name,
    -- Formatierung f√ºr Quartal
    'Q' || EXTRACT(QUARTER FROM "date") || ' ' || EXTRACT(YEAR FROM "date") AS "quarter_name",
    -- Formatierung f√ºr Monat
    CASE EXTRACT(MONTH FROM "date")
        WHEN 1 THEN 'Jan'
        WHEN 2 THEN 'Feb'
        WHEN 3 THEN 'Mar'
        WHEN 4 THEN 'Apr'
        WHEN 5 THEN 'May'
        WHEN 6 THEN 'Jun'
        WHEN 7 THEN 'Jul'
        WHEN 8 THEN 'Aug'
        WHEN 9 THEN 'Sep'
        WHEN 10 THEN 'Oct'
        WHEN 11 THEN 'Nov'
        WHEN 12 THEN 'Dec'
    END || ' ' || EXTRACT(YEAR FROM "date") AS "month_name",
    -- Formatierung f√ºr Kalenderwoche
    'W' || EXTRACT(WEEK FROM "date") || ' ' || EXTRACT(YEAR FROM "date") AS "week_name"
FROM flights
ORDER BY "date";
""")

### **Data Preparation**

In [ ]:
# Umformen der Werte wie "0054" in "00:54:00" und CAST in Datentype "TIME"
conn.execute("""
UPDATE flights
SET 
    "scheduled_departure" = CASE
        WHEN "scheduled_departure" IS NULL OR "scheduled_departure" = '' THEN NULL
        ELSE TRY_CAST(CONCAT(SUBSTRING("scheduled_departure", 1, 2), ':', SUBSTRING("scheduled_departure", 3, 2), ':00') AS TIME)
    END,
    "departure_time" = CASE
        WHEN "departure_time" IS NULL OR "departure_time" = '' THEN NULL
        ELSE TRY_CAST(CONCAT(SUBSTRING("departure_time", 1, 2), ':', SUBSTRING("departure_time", 3, 2), ':00') AS TIME)
    END,
    "wheels_off" = CASE
        WHEN "wheels_off" IS NULL OR "wheels_off" = '' THEN NULL
        ELSE TRY_CAST(CONCAT(SUBSTRING("wheels_off", 1, 2), ':', SUBSTRING("wheels_off", 3, 2), ':00') AS TIME)
    END,
    "wheels_on" = CASE
        WHEN "wheels_on" IS NULL OR "wheels_on" = '' THEN NULL
        ELSE TRY_CAST(CONCAT(SUBSTRING("wheels_on", 1, 2), ':', SUBSTRING("wheels_on", 3, 2), ':00') AS TIME)
    END,
    "scheduled_arrival" = CASE
        WHEN "scheduled_arrival" IS NULL OR "scheduled_arrival" = '' THEN NULL
        ELSE TRY_CAST(CONCAT(SUBSTRING("scheduled_arrival", 1, 2), ':', SUBSTRING("scheduled_arrival", 3, 2), ':00') AS TIME)
    END,
    "arrival_time" = CASE
        WHEN "arrival_time" IS NULL OR "arrival_time" = '' THEN NULL
        ELSE TRY_CAST(CONCAT(SUBSTRING("arrival_time", 1, 2), ':', SUBSTRING("arrival_time", 3, 2), ':00') AS TIME)
    END
WHERE "scheduled_departure" IS NOT NULL OR "departure_time" IS NOT NULL OR "wheels_off" IS NOT NULL OR "wheels_on" IS NOT NULL OR "scheduled_arrival" IS NOT NULL OR "arrival_time" IS NOT NULL;
""")

# Weitere Spalten in "flights" anlegen
conn.execute("""
ALTER TABLE flights
ADD COLUMN IF NOT EXISTS "weekday_name" VARCHAR(255);

ALTER TABLE flights
ADD COLUMN IF NOT EXISTS "quarter_name" VARCHAR(255);

ALTER TABLE flights
ADD COLUMN IF NOT EXISTS "month_name" VARCHAR(255);

ALTER TABLE flights
ADD COLUMN IF NOT EXISTS "week_name" VARCHAR(255);
""")

# Aktualisieren der Spalten in "flights"
conn.execute("""
UPDATE flights
SET "weekday_name" = t."weekday_name"
FROM "time" t
WHERE t."date" = flights."date";

UPDATE flights
SET "week_name" = t."week_name"
FROM "time" t
WHERE t."date" = flights."date";

UPDATE flights
SET "month_name" = t."month_name"
FROM "time" t
WHERE t."date" = flights."date";

UPDATE flights
SET "quarter_name" = t."quarter_name"
FROM "time" t
WHERE t."date" = flights."date";

UPDATE flights 
SET "cancellation_reason" = cr."reason"
FROM cancellation_reasons cr
WHERE cr."shortcut" = flights."cancellation_reason";
""")

# Einf√ºgen weiterer Spalten in "flights"
conn.execute("""
ALTER TABLE flights
ADD COLUMN IF NOT EXISTS "origin_airport_lon" DOUBLE;

ALTER TABLE flights
ADD COLUMN IF NOT EXISTS "origin_airport_lat" DOUBLE;

ALTER TABLE flights
ADD COLUMN IF NOT EXISTS "destination_airport_lon" DOUBLE;

ALTER TABLE flights
ADD COLUMN IF NOT EXISTS "destination_airport_lat" DOUBLE;

ALTER TABLE flights
ADD COLUMN IF NOT EXISTS "origin_city" VARCHAR(255);

ALTER TABLE flights
ADD COLUMN IF NOT EXISTS "destination_city" VARCHAR(255);

ALTER TABLE flights
ADD COLUMN IF NOT EXISTS "airline_name" VARCHAR(255);
""")

# Aktualisieren der Spalten
conn.execute("""
UPDATE flights 
SET "origin_airport_lon" = ap."longitude"
FROM airports ap
WHERE ap."iata_code" = flights."origin_airport";

UPDATE flights 
SET "origin_airport_lat" = ap."latitude"
FROM airports ap
WHERE ap."iata_code" = flights."origin_airport";

UPDATE flights 
SET "destination_airport_lon" = ap."longitude"
FROM airports ap
WHERE ap."iata_code" = flights."destination_airport";

UPDATE flights 
SET "destination_airport_lat" = ap."latitude"
FROM airports ap
WHERE ap."iata_code" = flights."destination_airport";

UPDATE flights 
SET "destination_city" = ap."city"
FROM airports ap
WHERE ap."iata_code" = flights."destination_airport";

UPDATE flights 
SET "origin_city" = ap."city"
FROM airports ap
WHERE ap."iata_code" = flights."origin_airport";

UPDATE flights 
SET "airline_name" = al."airline"
FROM airlines al
WHERE al."iata_code" = flights."airline";
""")

### **Erstellen von DB-Views und √úberf√ºhren jeweils in ein `pandas DataFrame`**

**One Big Table**

Eine "One Big Table" ist ein Datenmodellierungskonzept, bei dem eine einzelne, denormalisierte Tabelle verwendet wird, um eine Vielzahl von Attributen oder Merkmalen zu speichern, die f√ºr analytische Abfragen oder Berichterstattungszwecke relevant sind. Dieses Modell aggregiert Daten aus mehreren Tabellen oder Datenquellen in einer einzigen Tabelle, indem es Normalisierungsprinzipien aufgibt, um eine vereinfachte Sicht zu schaffen, die schnelle und effiziente Abfragen erm√∂glicht.

In [ ]:
conn.execute("""
CREATE VIEW IF NOT EXISTS vw_OneBigTable AS
SELECT
    "flight_id",
    "year",
    "date",
    "weekday_name",
    "quarter_name",
    "month_name",
    "week_name",    
    "airline" AS "iata_airline",
    "airline_name" AS "airline",
    "flight_number",
    "tail_number",
    "origin_airport",
    "origin_city",
    "origin_airport_lon",
    "origin_airport_lat",
    "destination_airport",
    "destination_city",
    "destination_airport_lon",
    "destination_airport_lat",
    "scheduled_departure",
    "departure_time",
    "departure_delay",
    "taxi_out",
    "wheels_off",
    "scheduled_time",
    "elapsed_time",
    "air_time",
    "distance"*1.60934 AS "distance_km",
    "wheels_on",
    "taxi_in",
    "scheduled_arrival",
    "arrival_time",
    "arrival_delay",
    "diverted",
    "cancelled",
    "cancellation_reason",
    "air_system_delay",
    "security_delay",
    "airline_delay",
    "late_aircraft_delay",
    "weather_delay"
FROM flights;
""")

# Der auskommentierte Code w√ºrde die DuckDB-Sicht "vw_OneBigTable" in ein pandas DataFrame √ºberf√ºhren, aber im Prinzip ist dies nicht n√∂tig, da √ºber DuckDB im Folgenden analytische Sichten vorbereitet wurden
# aus Performance-Sicht ist der Ansatz, analytische Sichten vorzubereiten ohnehin besser, als laufend eine One Big Table abzufragen

# √úberf√ºhrt die Daten aus der angelegten Relation in ein pandas DataFrame
#OBT_df = conn.execute("SELECT * FROM vw_OneBigTable;").df()

# Testabfrage
#OBT_df.head()

**Nur die durchgef√ºhrten ("cancelled = 0") Fl√ºge als One Big Table. Diese dient als View f√ºr alle weiteren Analysen**

In [ ]:
conn.execute("""
CREATE VIEW IF NOT EXISTS vw_ABT AS
SELECT * FROM vw_OneBigTable
WHERE "cancelled" = 0;
""")

**Analysen im Kontext "airlines"**

Annahme Versp√§tung: https://ansperformance.eu/definition/punctuality/#:~:text=The%20share%20of%20IFR%20flights,departure%20time%20(airline%20schedules).

In [ ]:
conn.execute("""
CREATE VIEW IF NOT EXISTS vw_airlines_metrics AS
SELECT 
    "airline",
    "iata_airline",
    AVG("arrival_delay") AS "average_arrival_delay",
    MEDIAN("arrival_delay") AS "median_arrival_delay",
    AVG("departure_delay") AS "average_departure_delay",
    MEDIAN("departure_delay") AS "median_departure_delay",
    COUNT("flight_id") AS "total_flights",
    ROUND(SUM("distance_km"),0) AS distance_km,
    ROUND((SUM(CASE 
        WHEN ("arrival_delay" >= 15 OR "departure_delay" >= 15 OR "departure_delay" <= -15) AND "cancelled" = 0 THEN 0
        ELSE 1
    END) / COUNT("flight_id")) * 100, 1) AS "punctuality_rate_percent",
    ROUND((SUM(CASE 
        WHEN "cancelled" = 1 THEN 1
        ELSE 0
    END) / COUNT("flight_id")) * 100, 1) AS "cancellation_rate_percent",
    SUM("cancelled"),
    (SELECT "destination_airport" 
     FROM "vw_OneBigTable" sub 
     WHERE sub."airline" = vw_OneBigTable."airline"
     GROUP BY "destination_airport"
     ORDER BY COUNT(*) DESC
     LIMIT 1) AS "most_frequent_destination",
    (SELECT "origin_airport" 
     FROM vw_OneBigTable sub 
     WHERE sub."airline" = vw_OneBigTable."airline"
     GROUP BY "origin_airport"
     ORDER BY COUNT(*) DESC
     LIMIT 1) AS "most_frequent_origin",
     ROUND((AVG("elapsed_time")- AVG("scheduled_time")),1) AS "buffer_flight"
FROM vw_OneBigTable
GROUP BY "airline", "iata_airline"
ORDER BY "average_arrival_delay";
""")

# √úberf√ºhrt die Daten aus der angelegten Relation in ein pandas DataFrame
airlines_df = conn.execute("SELECT * FROM vw_airlines_metrics;").df()

# Testabfrage
airlines_df.head()

**Analysen im Kontext "flights"**

In [ ]:
conn.execute("""
CREATE VIEW IF NOT EXISTS vw_flight_metrics AS
SELECT 
   "tail_number",
   "airline",
   "origin_airport",
   COUNT("flight_id") AS "total_flights",
   ROUND(SUM("distance_km"),0) AS "total_km",
   ROUND((AVG("distance_km") / AVG("air_time" / 60.0)),1) AS "average_speed_km"
FROM vw_ABT
GROUP BY "origin_airport", "tail_number", "airline"
ORDER BY "total_flights" DESC, "total_km" DESC;
""")

# √úberf√ºhrt die Daten aus der angelegten Relation in ein pandas DataFrame
flight_metrics_df = conn.execute("SELECT * FROM vw_flight_metrics;").df()

# Testabfrage
flight_metrics_df.head()

**Analysen im Kontext "flight routes"**

In [ ]:
conn.execute("""
CREATE VIEW IF NOT EXISTS vw_flight_routes AS
SELECT "origin_airport", "destination_airport", "origin_city", "destination_city", "origin_airport_lon", "origin_airport_lat", "destination_airport_lon", "destination_airport_lat", COUNT("flight_id"), ROUND(SUM("distance_km"),0), ROUND(AVG("distance_km"),0) AS avg_distance_km
FROM vw_ABT
GROUP BY "origin_airport", "destination_airport", "origin_city", "destination_city", "origin_airport_lon", "origin_airport_lat", "destination_airport_lon", "destination_airport_lat";
""")

flight_routes_df = conn.execute("SELECT * FROM vw_flight_routes;").df()

# Testabfrage
flight_routes_df.head()

**Analysen im Kontext "cancellations"**

In [ ]:
conn.execute("""
CREATE VIEW IF NOT EXISTS vw_cancellations AS
SELECT
    "airline",
    "cancellation_reason",
    "month_name",
    "origin_airport",
    "origin_city",
    COUNT(*) AS total_flights,
    ROUND((SUM(
        CASE 
        WHEN "cancelled" = 1 THEN 1
        ELSE 0
        END)::FLOAT / COUNT(*)) * 100, 1) AS "cancellation_rate_percent"
FROM vw_OneBigTable
GROUP BY "airline", "cancellation_reason", "month_name", "origin_airport", "origin_city"
ORDER BY "cancellation_rate_percent" DESC;
""")

# √úberf√ºhrt die Daten aus der angelegten Relation in ein pandas DataFrame
cancellations_df = conn.execute("SELECT * FROM vw_cancellations;").df()

# Testabfrage
cancellations_df.head()

**Analysen im Kontext "time"**

In [ ]:
conn.execute("""
CREATE VIEW IF NOT EXISTS vw_time_analysis AS
SELECT 
    "year", 
    "quarter_name", 
    "month_name", 
    "weekday_name", 
    "airline", 
    COUNT(*) AS total_flights,
    ROUND(AVG("departure_delay"), 1) AS avg_departure_delay,
    ROUND(AVG("arrival_delay"), 1) AS avg_arrival_delay,
    "cancelled", 
    "cancellation_reason"
FROM vw_OneBigTable
GROUP BY 
    "year", 
    "quarter_name", 
    "month_name", 
    "weekday_name", 
    "airline",
    "cancelled", 
    "cancellation_reason"
HAVING AVG("departure_delay") > 15
ORDER BY "month_name";
""")

# √úberf√ºhrt die Daten aus der angelegten Relation in ein pandas DataFrame
time_df = conn.execute("SELECT * FROM vw_time_analysis;").df()

# Testabfrage
time_df.head()

### **Beenden der Verbindung zur Datenbank**

In [ ]:
# Beendet die Verbindung zur im Arbeitsspeicher liegenden in-Memory-DB. Dabei gehen auch alle Daten im Arbeitsspeicher verloren
conn.close()